td, th {
	border: 1px solid;
  padding: 5px;
  text-align: center;
  }

body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
}

img{
  width: 100px;
  height: 100px;
}

header {
  background: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: normal;
}

#planets {
  border-collapse: collapse;
  margin: auto;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 123, 255, 0.5);
}

#planets th {
  background-color: #0056b3;
  color: #ffffff;
  padding: 10px;
}

#planets tr:nth-child(even) {
  background-color: #1a1a1a;
}

#planets tr:hover {
  background-color: #333333;
}


#planets td:first-child {
  font-weight: bold;
  color: #007bff;
}