td, th {
	border: 1px solid;
  }

body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
}

img{
  width: 100px;
  height: 100px;
}

header {
  background: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: normal;
}